[Unit]
Description=Pulse Secure Daemon
After=network.target

[Service]
Type=simple
ExecStart=/opt/pulsesecure/bin/pulsesecure -d
Restart=on-failure
RestartSec=1
TimeoutStopSec=3

LogsDirectory=pulsesecure/pulse
StateDirectory=pulsesecure/logging

AmbientCapabilities=CAP_NET_ADMIN CAP_SYS_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN CAP_SYS_ADMIN

#PrivateDevices=yes
#DeviceAllow=/dev/net/tun rw
#BindPaths=/dev/net/tun

#PrivateNetwork=no
#RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

ProtectSystem=yes
#ProtectSystem=strict
#ReadWritePaths=/run/dbus/system_bus_socket

PrivateMounts=yes
PrivateTmp=yes
ProtectHome=yes

LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes

RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
